<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /tan-laravel/
    
    # Send all requests to the public/ folder
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/index.php/$1 [L]
</IfModule>
